root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
# Github Flavored Markdown
# 2+ trailing spaces create a newline
trim_trailing_whitespace = false

[{.bashrc,*.sh}]
indent_size = 2

[{.vimrc,vimrc,gvimrc,*.vim}]
indent_size = 2

[*.{js,json,yml,yaml}]
indent_size = 2

[.gitconfig]
indent_style = tab
indent_size = 8
