[alias]
	# General
	br = branch
	co = checkout
	clo = clone
	cm = commit
	df = diff
	dfc = diff --cached
	l = log --graph --decorate --oneline
	la = log --graph --decorate --oneline --all
	mg = merge
	ph = push
	pha = push --all
	phf = push --force-with-lease
	phfa = push --force-with-lease --all
	pl = pull --rebase
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbs = rebase --skip
	fuck = reset HEAD --hard
	st = status -s

	# Submodules
	subm = submodule
	subm-a = submodule add
	subm-di = submodule deinit --force
	subm-i = submodule init
	subm-st = submodule status --recursive
	subm-up = submodule update --init --recursive
	subm-up-r = submodule update --init --recursive --remote

	# SVN
	s-br = svn branch
	s-clo = svn clone
	s-cm = svn dcommit
	s-rb = svn rebase
[core]
	editor = vim
	autocrlf = input
	eol = lf
	askPass = ""
[color]
	ui = true
[credential]
	modalPrompt = never
[grep]
	lineNumber = true
[push]
	default = current
[status]
	submodulesummary = true
[url "https://github.com/"]
	insteadOf = gh:
