[alias]
	# General
	br = branch
	chp = cherry-pick
	chp-a = cherry-pick --abort
	chp-c = cherry-pick --continue
	co = checkout
	clo = clone
	cm = commit
	df = diff
	df-c = diff --cached
	fuck = reset HEAD --hard
	l = log --graph --decorate --oneline
	l-a = log --graph --decorate --oneline --all
	mg = merge --strategy resolve
	ph = push
	ph-a = push --all
	ph-f = push --force-with-lease
	ph-fa = push --force-with-lease --all
	pl = pull --rebase --strategy resolve
	rb = rebase --strategy resolve
	rb-a = rebase --abort
	rb-c = rebase --continue
	rb-s = rebase --skip
	st = status -s -uno

	# Submodules
	subm = submodule
	subm-a = submodule add
	subm-di = submodule deinit --force
	subm-i = submodule init
	subm-st = submodule status --recursive
	subm-up = submodule update --init --recursive
	subm-up-r = submodule update --init --recursive --remote

	# SVN
	s-br = svn branch
	s-clo = svn clone
	s-cm = svn dcommit
	s-rb = svn rebase
[core]
	editor = vim
	autocrlf = input
	eol = lf
	askPass = ""
[color]
	ui = true
[credential]
	modalPrompt = never
[grep]
	lineNumber = true
[push]
	default = current
[status]
	submodulesummary = true
[url "https://github.com/"]
	insteadOf = gh:
