; Stop 'npm install' from sending an audit report.
audit = false
; devDependencies likely have low,moderate vulnerabilities.
; https://docs.npmjs.com/about-audit-reports#severity
audit-level = high
; Respect 'engine' key in package.json.
engine-strict = true
; Reduce log size and keep 1 log at most at all times.
loglevel = error
logs-max = 1
; npm may omit the progress bar so omit it always.
progress = false
; cmd.exe (Windows) should be used for speed only.
script-shell = sh
; I hate unicode output in logs.
unicode = false
; I use LTS releases of node + npm so I don't want the warning.
; Stop npm from creating ~/.config/update-notifier/ on Windows.
update-notifier = false
