"*":
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    uriHandlerRegistration: "never"
  welcome:
    showOnStartup: false
